@font-face {
    font-family: "NovecentowideNormalRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../font/Novecentowide-Normal-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Novecentowide-Normal-webfont.woff") format("woff"), url("../font/Novecentowide-Normal-webfont.ttf") format("truetype"), url("../font/Novecentowide-Normal-webfont.svg#NovecentowideNormalRegular") format("svg");
}
@font-face {
    font-family: "NovecentowideBookBold";
    font-style: normal;
    font-weight: normal;
    src: url("../font/Novecentowide-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Novecentowide-Bold-webfont.woff") format("woff"), url("../font/Novecentowide-Bold-webfont.ttf") format("truetype"), url("../font/Novecentowide-Bold-webfont.svg#NovecentowideBookBold") format("svg");
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}
.input-block-level {
    -moz-box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}
.hidden {
    display: none;
    visibility: hidden;
}
.visible-phone {
    display: none !important;
}
.visible-tablet {
    display: none !important;
}
.hidden-desktop {
    display: none !important;
}
.visible-desktop {
    display: inherit !important;
}
.hidden-desktop {
    display: inherit !important;
}
.visible-desktop {
    display: none !important;
}
.visible-tablet {
    display: inherit !important;
}
.hidden-tablet {
    display: none !important;
}
.hidden-desktop {
    display: inherit !important;
}
.visible-desktop {
    display: none !important;
}
.visible-phone {
    display: inherit !important;
}
.hidden-phone {
    display: none !important;
}
.row {
    margin-left: -40px;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 40px;
    min-height: 1px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1040px;
}
.span12 {
    width: 1040px;
}
.span11 {
    width: 950px;
}
.span10 {
    width: 860px;
}
.span9 {
    width: 770px;
}
.span8 {
    width: 680px;
}
.span7 {
    width: 590px;
}
.span6 {
    width: 500px;
}
.span5 {
    width: 410px;
}
.span4 {
    width: 320px;
}
.span3 {
    width: 230px;
}
.span2 {
    width: 140px;
}
.span1 {
    width: 50px;
}
.offset12 {
    margin-left: 1120px;
}
.offset11 {
    margin-left: 1030px;
}
.offset10 {
    margin-left: 940px;
}
.offset9 {
    margin-left: 850px;
}
.offset8 {
    margin-left: 760px;
}
.offset7 {
    margin-left: 670px;
}
.offset6 {
    margin-left: 580px;
}
.offset5 {
    margin-left: 490px;
}
.offset4 {
    margin-left: 400px;
}
.offset3 {
    margin-left: 310px;
}
.offset2 {
    margin-left: 220px;
}
.offset1 {
    margin-left: 130px;
}
.row-fluid {
    width: 100%;
}
.row-fluid:before, .row-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid:after {
    clear: both;
}
.row-fluid [class*="span"] {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 3.84615%;
    min-height: 30px;
    width: 100%;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 3.84615%;
}
.row-fluid .span12 {
    width: 100%;
}
.row-fluid .span11 {
    width: 91.3462%;
}
.row-fluid .span10 {
    width: 82.6923%;
}
.row-fluid .span9 {
    width: 74.0385%;
}
.row-fluid .span8 {
    width: 65.3846%;
}
.row-fluid .span7 {
    width: 56.7308%;
}
.row-fluid .span6 {
    width: 48.0769%;
}
.row-fluid .span5 {
    width: 39.4231%;
}
.row-fluid .span4 {
    width: 30.7692%;
}
.row-fluid .span3 {
    width: 22.1154%;
}
.row-fluid .span2 {
    width: 13.4615%;
}
.row-fluid .span1 {
    width: 4.80769%;
}
.row-fluid .offset12 {
    margin-left: 107.692%;
}
.row-fluid .offset12:first-child {
    margin-left: 103.846%;
}
.row-fluid .offset11 {
    margin-left: 99.0385%;
}
.row-fluid .offset11:first-child {
    margin-left: 95.1923%;
}
.row-fluid .offset10 {
    margin-left: 90.3846%;
}
.row-fluid .offset10:first-child {
    margin-left: 86.5385%;
}
.row-fluid .offset9 {
    margin-left: 81.7308%;
}
.row-fluid .offset9:first-child {
    margin-left: 77.8846%;
}
.row-fluid .offset8 {
    margin-left: 73.0769%;
}
.row-fluid .offset8:first-child {
    margin-left: 69.2308%;
}
.row-fluid .offset7 {
    margin-left: 64.4231%;
}
.row-fluid .offset7:first-child {
    margin-left: 60.5769%;
}
.row-fluid .offset6 {
    margin-left: 55.7692%;
}
.row-fluid .offset6:first-child {
    margin-left: 51.9231%;
}
.row-fluid .offset5 {
    margin-left: 47.1154%;
}
.row-fluid .offset5:first-child {
    margin-left: 43.2692%;
}
.row-fluid .offset4 {
    margin-left: 38.4615%;
}
.row-fluid .offset4:first-child {
    margin-left: 34.6154%;
}
.row-fluid .offset3 {
    margin-left: 29.8077%;
}
.row-fluid .offset3:first-child {
    margin-left: 25.9615%;
}
.row-fluid .offset2 {
    margin-left: 21.1538%;
}
.row-fluid .offset2:first-child {
    margin-left: 17.3077%;
}
.row-fluid .offset1 {
    margin-left: 12.5%;
}
.row-fluid .offset1:first-child {
    margin-left: 8.65385%;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
    margin-left: 40px;
}
input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1026px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
    width: 936px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
    width: 846px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
    width: 756px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
    width: 666px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
    width: 576px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
    width: 486px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
    width: 396px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
    width: 306px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 216px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 126px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
    width: 36px;
}
.thumbnails {
    margin-left: -40px;
}
.thumbnails > li {
    margin-left: 40px;
}
.row-fluid .thumbnails {
    margin-left: 0;
}
.row {
    margin-left: -30px;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 30px;
    min-height: 1px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 930px;
}
.span12 {
    width: 930px;
}
.span11 {
    width: 850px;
}
.span10 {
    width: 770px;
}
.span9 {
    width: 690px;
}
.span8 {
    width: 610px;
}
.span7 {
    width: 530px;
}
.span6 {
    width: 450px;
}
.span5 {
    width: 370px;
}
.span4 {
    width: 290px;
}
.span3 {
    width: 210px;
}
.span2 {
    width: 130px;
}
.span1 {
    width: 50px;
}
.offset12 {
    margin-left: 990px;
}
.offset11 {
    margin-left: 910px;
}
.offset10 {
    margin-left: 830px;
}
.offset9 {
    margin-left: 750px;
}
.offset8 {
    margin-left: 670px;
}
.offset7 {
    margin-left: 590px;
}
.offset6 {
    margin-left: 510px;
}
.offset5 {
    margin-left: 430px;
}
.offset4 {
    margin-left: 350px;
}
.offset3 {
    margin-left: 270px;
}
.offset2 {
    margin-left: 190px;
}
.offset1 {
    margin-left: 110px;
}
.row-fluid {
    width: 100%;
}
.row-fluid:before, .row-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid:after {
    clear: both;
}
.row-fluid [class*="span"] {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 3.22581%;
    min-height: 30px;
    width: 100%;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 3.22581%;
}
.row-fluid .span12 {
    width: 100%;
}
.row-fluid .span11 {
    width: 91.3979%;
}
.row-fluid .span10 {
    width: 82.7957%;
}
.row-fluid .span9 {
    width: 74.1936%;
}
.row-fluid .span8 {
    width: 65.5914%;
}
.row-fluid .span7 {
    width: 56.9892%;
}
.row-fluid .span6 {
    width: 48.3871%;
}
.row-fluid .span5 {
    width: 39.7849%;
}
.row-fluid .span4 {
    width: 31.1828%;
}
.row-fluid .span3 {
    width: 22.5806%;
}
.row-fluid .span2 {
    width: 13.9785%;
}
.row-fluid .span1 {
    width: 5.37634%;
}
.row-fluid .offset12 {
    margin-left: 106.452%;
}
.row-fluid .offset12:first-child {
    margin-left: 103.226%;
}
.row-fluid .offset11 {
    margin-left: 97.8495%;
}
.row-fluid .offset11:first-child {
    margin-left: 94.6237%;
}
.row-fluid .offset10 {
    margin-left: 89.2473%;
}
.row-fluid .offset10:first-child {
    margin-left: 86.0215%;
}
.row-fluid .offset9 {
    margin-left: 80.6452%;
}
.row-fluid .offset9:first-child {
    margin-left: 77.4194%;
}
.row-fluid .offset8 {
    margin-left: 72.043%;
}
.row-fluid .offset8:first-child {
    margin-left: 68.8172%;
}
.row-fluid .offset7 {
    margin-left: 63.4409%;
}
.row-fluid .offset7:first-child {
    margin-left: 60.2151%;
}
.row-fluid .offset6 {
    margin-left: 54.8387%;
}
.row-fluid .offset6:first-child {
    margin-left: 51.6129%;
}
.row-fluid .offset5 {
    margin-left: 46.2366%;
}
.row-fluid .offset5:first-child {
    margin-left: 43.0108%;
}
.row-fluid .offset4 {
    margin-left: 37.6344%;
}
.row-fluid .offset4:first-child {
    margin-left: 34.4086%;
}
.row-fluid .offset3 {
    margin-left: 29.0323%;
}
.row-fluid .offset3:first-child {
    margin-left: 25.8064%;
}
.row-fluid .offset2 {
    margin-left: 20.4301%;
}
.row-fluid .offset2:first-child {
    margin-left: 17.2043%;
}
.row-fluid .offset1 {
    margin-left: 11.828%;
}
.row-fluid .offset1:first-child {
    margin-left: 8.60215%;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px;
}
input.span12, textarea.span12, .uneditable-input.span12 {
    width: 916px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
    width: 836px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
    width: 756px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
    width: 676px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
    width: 596px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
    width: 516px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
    width: 436px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
    width: 356px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
    width: 276px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 196px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 116px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
    width: 36px;
}
.row {
    margin-left: -20px;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
    min-height: 1px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 724px;
}
.span12 {
    width: 724px;
}
.span11 {
    width: 662px;
}
.span10 {
    width: 600px;
}
.span9 {
    width: 538px;
}
.span8 {
    width: 476px;
}
.span7 {
    width: 414px;
}
.span6 {
    width: 352px;
}
.span5 {
    width: 290px;
}
.span4 {
    width: 228px;
}
.span3 {
    width: 166px;
}
.span2 {
    width: 104px;
}
.span1 {
    width: 42px;
}
.offset12 {
    margin-left: 764px;
}
.offset11 {
    margin-left: 702px;
}
.offset10 {
    margin-left: 640px;
}
.offset9 {
    margin-left: 578px;
}
.offset8 {
    margin-left: 516px;
}
.offset7 {
    margin-left: 454px;
}
.offset6 {
    margin-left: 392px;
}
.offset5 {
    margin-left: 330px;
}
.offset4 {
    margin-left: 268px;
}
.offset3 {
    margin-left: 206px;
}
.offset2 {
    margin-left: 144px;
}
.offset1 {
    margin-left: 82px;
}
.row-fluid {
    width: 100%;
}
.row-fluid:before, .row-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid:after {
    clear: both;
}
.row-fluid [class*="span"] {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.76243%;
    min-height: 30px;
    width: 100%;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.76243%;
}
.row-fluid .span12 {
    width: 100%;
}
.row-fluid .span11 {
    width: 91.4365%;
}
.row-fluid .span10 {
    width: 82.8729%;
}
.row-fluid .span9 {
    width: 74.3094%;
}
.row-fluid .span8 {
    width: 65.7459%;
}
.row-fluid .span7 {
    width: 57.1823%;
}
.row-fluid .span6 {
    width: 48.6188%;
}
.row-fluid .span5 {
    width: 40.0552%;
}
.row-fluid .span4 {
    width: 31.4917%;
}
.row-fluid .span3 {
    width: 22.9282%;
}
.row-fluid .span2 {
    width: 14.3646%;
}
.row-fluid .span1 {
    width: 5.80111%;
}
.row-fluid .offset12 {
    margin-left: 105.525%;
}
.row-fluid .offset12:first-child {
    margin-left: 102.762%;
}
.row-fluid .offset11 {
    margin-left: 96.9613%;
}
.row-fluid .offset11:first-child {
    margin-left: 94.1989%;
}
.row-fluid .offset10 {
    margin-left: 88.3978%;
}
.row-fluid .offset10:first-child {
    margin-left: 85.6354%;
}
.row-fluid .offset9 {
    margin-left: 79.8343%;
}
.row-fluid .offset9:first-child {
    margin-left: 77.0718%;
}
.row-fluid .offset8 {
    margin-left: 71.2707%;
}
.row-fluid .offset8:first-child {
    margin-left: 68.5083%;
}
.row-fluid .offset7 {
    margin-left: 62.7072%;
}
.row-fluid .offset7:first-child {
    margin-left: 59.9447%;
}
.row-fluid .offset6 {
    margin-left: 54.1436%;
}
.row-fluid .offset6:first-child {
    margin-left: 51.3812%;
}
.row-fluid .offset5 {
    margin-left: 45.5801%;
}
.row-fluid .offset5:first-child {
    margin-left: 42.8177%;
}
.row-fluid .offset4 {
    margin-left: 37.0166%;
}
.row-fluid .offset4:first-child {
    margin-left: 34.2541%;
}
.row-fluid .offset3 {
    margin-left: 28.453%;
}
.row-fluid .offset3:first-child {
    margin-left: 25.6906%;
}
.row-fluid .offset2 {
    margin-left: 19.8895%;
}
.row-fluid .offset2:first-child {
    margin-left: 17.1271%;
}
.row-fluid .offset1 {
    margin-left: 11.326%;
}
.row-fluid .offset1:first-child {
    margin-left: 8.56354%;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
}
input.span12, textarea.span12, .uneditable-input.span12 {
    width: 710px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
    width: 648px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
    width: 586px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
    width: 524px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
    width: 462px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
    width: 400px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
    width: 338px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
    width: 276px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
    width: 214px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 152px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 90px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
    width: 28px;
}
body {
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
}
.container-fluid {
    padding: 0;
}
.dl-horizontal dt {
    clear: none;
    float: none;
    text-align: left;
    width: auto;
}
.dl-horizontal dd {
    margin-left: 0;
}
.container {
    width: auto;
}
.row-fluid {
    width: 100%;
}
.row, .thumbnails {
    margin-left: 0;
}
.thumbnails > li {
    float: none;
    margin-left: 0;
}
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    margin-left: 0;
    width: 100%;
}
.span12, .row-fluid .span12 {
    -moz-box-sizing: border-box;
    width: 100%;
}
.row-fluid [class*="offset"]:first-child {
    margin-left: 0;
}
.input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
    -moz-box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}
.input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
}
.controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
}
.modal {
    left: 20px;
    margin: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    width: auto;
}
.modal.fade {
    top: -100px;
}
.modal.fade.in {
    top: 20px;
}
.nav-collapse {
}
.page-header h1 small {
    display: block;
    line-height: 20px;
}
input[type="checkbox"], input[type="radio"] {
    border: 1px solid #CCCCCC;
}
.form-horizontal .control-label {
    float: none;
    padding-top: 0;
    text-align: left;
    width: auto;
}
.form-horizontal .controls {
    margin-left: 0;
}
.form-horizontal .control-list {
    padding-top: 0;
}
.form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
}
.media .pull-left, .media .pull-right {
    display: block;
    float: none;
    margin-bottom: 10px;
}
.media-object {
    margin-left: 0;
    margin-right: 0;
}
.modal {
    left: 10px;
    right: 10px;
    top: 10px;
}
.modal-header .close {
    margin: -10px;
    padding: 10px;
}
.carousel-caption {
    position: static;
}
body {
    padding-top: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: static;
}
.navbar-fixed-top {
    margin-bottom: 20px;
}
.navbar-fixed-bottom {
    margin-top: 20px;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
}
.navbar .container {
    padding: 0;
    width: auto;
}
.navbar .brand {
    margin: 0 0 0 -5px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-collapse {
    clear: both;
}
.nav-collapse .nav {
    float: none;
    margin: 0 0 10px;
}
.nav-collapse .nav > li {
    float: none;
}
.nav-collapse .nav > li > a {
    margin-bottom: 2px;
}
.nav-collapse .nav > .divider-vertical {
    display: none;
}
.nav-collapse .nav .nav-header {
    color: #777777;
    text-shadow: none;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    border-radius: 3px 3px 3px 3px;
    color: #777777;
    font-weight: bold;
    padding: 9px 15px;
}
.nav-collapse .btn {
    border-radius: 0 0 0 0;
    font-weight: normal;
    padding: 4px 10px;
}
.nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
}
.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover {
    background-color: #F2F2F2;
}
.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #999999;
}
.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: #111111;
}
.nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
}
.nav-collapse .dropdown-menu {
    background-color: transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: none;
    float: none;
    left: auto;
    margin: 0 15px;
    max-width: none;
    padding: 0;
    position: static;
    top: auto;
}
.nav-collapse .open > .dropdown-menu {
    display: block;
}
.nav-collapse .dropdown-menu:before, .nav-collapse .dropdown-menu:after {
    display: none;
}
.nav-collapse .dropdown-menu .divider {
    display: none;
}
.nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
}
.nav-collapse .navbar-form, .nav-collapse .navbar-search {
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    float: none;
    margin: 10px 0;
    padding: 10px 15px;
}
.navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search {
    border-bottom-color: #111111;
    border-top-color: #111111;
}
.navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
}
.nav-collapse, .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
}
.navbar .btn-navbar {
    display: block;
}
.navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
}
.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}
.container {
    border: 0 none;
    padding: 0;
}
.site-header #header {
    background: none repeat scroll 0 center transparent;
}
.site-header #header #branding h1 {
    border-bottom: 1px solid #DDDDDD;
    margin: 0 0 20px;
    padding: 0 0 20px !important;
    width: 100%;
}
.site-header #header #branding a {
    margin: 0 auto;
}
.site-header #header #sidebar-header {
    clear: both;
}
#colophon > .container #site-tools {
    margin: 0;
    padding: 10px 0;
}
#colophon #site-info .copyright, #colophon #site-info .logo {
    margin: 0;
}
.desktop .top-news {
    background: none repeat scroll 0 0 #000000;
    float: left;
    font-size: inherit;
    height: 70px;
    padding-top: 10px;
    text-transform: uppercase;
    white-space: normal;
    width: 8%;
}
.desktop .top-news > a {
    border-radius: 0 0 0 0 !important;
    color: #FFFFFF !important;
    display: block;
    height: 70px;
    text-align: center;
    width: 100%;
}
.desktop .top-news .number {
    display: block;
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 5px;
}
.desktop .top-news .number + span {
    display: block;
    font-size: 8px;
    font-weight: bold;
    line-height: 13px;
}
.desktop .top-news i {
    font-size: 13px;
    padding-left: 2px;
    vertical-align: sub;
}
.desktop .top-news .top-news-inner {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out 0s;
    width: 1040px;
}
.desktop .top-news .dropdown-menu {
    -moz-box-sizing: border-box;
    border-bottom: 2px solid #000000;
    border-color: #DDDDDD #DDDDDD #000000;
    display: block;
    margin-top: -1px;
    overflow: hidden;
    padding: 10px 20px 20px;
    position: relative;
    top: 0;
    width: 100%;
}
.desktop .top-news .dropdown-menu:before, .desktop .top-news .dropdown-menu:after {
    border-left: 1px solid #DDDDDD;
    content: "";
    height: 100%;
    position: absolute;
    top: 55px;
    width: 1px;
}
.desktop .top-news .dropdown-menu:before {
    left: 345px;
}
.desktop .top-news .dropdown-menu:after {
    left: 695px;
}
.desktop .top-news .dropdown-menu ul {
    margin: 0;
}
.desktop .top-news .dropdown-menu li {
    float: left;
    list-style: none outside none;
    margin-left: 5%;
    overflow: hidden;
    padding: 5px 0;
    width: 30%;
}
.desktop .top-news .dropdown-menu li.first {
    clear: left;
    margin-left: 0;
}
.desktop .top-news .dropdown-menu a {
    display: inline;
    font-family: Bitter,serif;
    font-size: 12px;
    padding: 5px 0;
    text-transform: capitalize;
    white-space: normal;
}
.desktop .top-news .dropdown-menu a:hover, .desktop .top-news .dropdown-menu a:active, .desktop .top-news .dropdown-menu a:focus {
    background: none repeat scroll 0 0 transparent;
    color: #EE3224;
}
.desktop .top-news .entry-meta {
    background: none repeat scroll 0 0 #EE3224;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    margin-bottom: 10px;
    padding: 10px;
}
.desktop .top-news-inner .has-thumbnail .topnews-thumbnail {
    float: left;
}
.desktop .top-news-inner .has-thumbnail .topnews-title {
    margin-left: 50px;
}
.desktop .top-news.open .top-news-inner {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    max-height: 5000px;
    transition: max-height 5s ease-out 0s;
}
.desktop .wrap-navigation {
    float: right;
    width: 92%;
}
.desktop #under-navigation {
    padding-left: 20px;
}
.archive .content-inner .type-post:first-child .entry-thumbnail img {
    width: 320px;
}
.archive .content-inner .type-post.has-thumbnail:first-child .post-inner {
    margin-left: 340px;
}
.archive .content-inner .type-post:first-child .entry-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
}
.archive .content-inner.layout-grid {
    background: url("../img/dot-ddd.gif") repeat-y scroll 32.5% 0 transparent;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
}
.archive .content-inner.layout-grid:before {
    background: none repeat scroll 0 0 #DDDDDD;
    content: "";
    display: block;
    height: 100%;
    left: 67.5%;
    position: absolute;
    width: 1px;
}
.archive .content-inner.layout-grid:after {
    clear: both;
    content: "";
    display: table;
}
.archive .content-inner.layout-grid .type-post {
    bottom: -1px;
    float: left;
    height: 380px;
    padding-left: 5%;
    width: 30%;
}
.archive .content-inner.layout-grid .type-post.first, .archive .content-inner.layout-grid .type-post:first-child {
    clear: left;
    padding-left: 0;
}
.archive .content-inner.layout-grid .type-post:first-child {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 0;
    padding-top: 20px;
    width: 65%;
}
.archive .content-inner.layout-grid .type-post:first-child .entry-thumbnail, .archive .content-inner.layout-grid .type-post:first-child .entry-thumbnail img {
    width: 100%;
}
.archive .content-inner.layout-grid .type-post:first-child .entry-thumbnail .entry-header {
    -moz-box-sizing: border-box;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGDYDAAAuAC0lXSlKAAAAABJRU5ErkJggg==") repeat scroll 0 0 transparent;
    bottom: -8px;
    display: block;
    padding: 10px 10px 5px;
    position: absolute;
    width: 100%;
}
.archive .content-inner.layout-grid .type-post:first-child .entry-thumbnail .entry-header .entry-title {
    margin-bottom: 0;
}
.archive .content-inner.layout-grid .type-post:first-child .entry-thumbnail .entry-header a {
    color: #FFFFFF;
}
.archive .content-inner.layout-grid .type-post.has-thumbnail:first-child .post-inner .entry-header {
    display: none;
}
.archive .content-inner.layout-grid .type-post .entry-thumbnail {
    margin-bottom: 15px;
}
.archive .content-inner.layout-grid .type-post.has-thumbnail .post-inner {
    margin-left: 0;
}
.desktop .top-news .dropdown-menu, .desktop .top-news .top-news-inner {
    width: 930px;
}
.desktop .top-news .dropdown-menu:after {
    left: 620px;
}
.desktop .top-news .dropdown-menu:before {
    left: 310px;
}
.social-links {
    display: none !important;
}
.site-header #header #branding {
    width: 930px !important;
}
.site-header #header #sidebar-header {
    position: relative;
    width: 930px !important;
}
.site-header #header #sidebar-header .span3 {
    width: 290px;
}
.site-header #header #sidebar-header:before, .site-header #header #sidebar-header:after {
    background: none repeat scroll 0 0 #DDDDDD;
    content: "";
    height: 100%;
    left: 305px;
    position: absolute;
    top: 0;
    width: 1px;
}
.site-header #header #sidebar-header:after {
    left: 625px;
}
#main > .container > .row {
    background-position: 735px top;
}
.left-sidebar #main > .container > .row {
    background-position: 255px top;
}
.news-slider .carousel {
    width: 465px;
}
.news-slider .carousel-list {
    width: 224px;
}
.widget.news-category .grid3:before {
    left: 67.2%;
}
#bottom .carousel .item {
    background-position: 224px 0;
}
#bottom .carousel .item:before {
    left: 464px;
}
#bottom .carousel .item:after {
    left: 705px;
}
#sidebar-footer {
    background-image: url("../img/sl-6-120-ddd.gif");
    margin: 0;
    padding: 0;
}
#sidebar-footer .widget_links .widget-title, #sidebar-footer .widget_meta .widget-title, #sidebar-footer .widget_pages .widget-title, #sidebar-footer .widget_nav_menu .widget-title {
    margin-left: 15px;
}
#sidebar-footer .widget_links ul, #sidebar-footer .widget_meta ul, #sidebar-footer .widget_pages ul, #sidebar-footer .widget_nav_menu ul {
    margin-left: 15px;
}
#colophon .input-append input[type="text"] {
    width: 115px;
}
#colophon .footer-shadown {
    box-shadow: none;
    height: 0;
    margin: -1px 0 0;
}
.single .site-content > .post .entry-content {
    width: 510px;
}
#main > .container .row {
    background: none repeat scroll 0 center transparent;
}
.site-header #header {
    margin: 20px 0 0;
}
.wrap-navigation .small-logo {
    background: url("../img/logo-small-dark.png") no-repeat scroll center center transparent;
    display: block;
    height: 40px;
    text-indent: -9999px;
    transition: opacity 0.5s ease 0s;
    width: 100%;
}
.top-news {
    display: none;
}
.site-header .container {
    padding-top: 40px;
    position: relative;
}
.site-header #header #branding h1 {
    margin-bottom: 0;
}
.site-header #sidebar-header:before, .site-header #sidebar-header:after {
    display: none;
}
.site-header #site-navigation.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
.site-header #site-navigation.navbar .navbar-inner {
    background: none repeat scroll 0 0 #000000;
    border: 0 none;
}
.site-header #site-navigation.navbar .nav {
    margin-bottom: 0;
}
.site-header #site-navigation.navbar .nav:after {
    clear: both;
    content: "";
    display: table;
}
.site-header #site-navigation.navbar .nav > li {
    border-color: #000000;
    float: left;
    width: 100%;
}
.site-header #site-navigation.navbar .nav > li a {
    -moz-box-sizing: border-box;
    background: url("../img/arrow-right.png") no-repeat scroll 15px center transparent !important;
    border-top: 1px solid #222222;
    box-shadow: none;
    color: #FFFFFF !important;
    font-family: "NovecentowideNormalRegular",Georgia,"Times New Roman",Times,serif;
    font-weight: normal;
    margin-bottom: 0;
    padding: 10px 30px;
    width: 100%;
}
.site-header #site-navigation.navbar .nav > li a:after {
    display: none;
}
.site-header #site-navigation.navbar .nav > li > .sub-menu {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    padding: 0;
    position: static;
    text-align: left;
    width: 100%;
}
.site-header #site-navigation.navbar .nav > li > .sub-menu a {
    background-position: 30px center !important;
    text-indent: 20px;
}
.site-header #site-navigation.navbar .nav > li .sub-mega-wrap {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    position: static;
    width: 100%;
}
.site-header #site-navigation.navbar .nav > li .sub-mega-wrap:before {
    display: none;
}
.site-header #site-navigation.navbar .nav > li .sub-mega-wrap .sub-menu {
    padding: 0;
    text-align: left;
    width: 100%;
}
.site-header #site-navigation.navbar .nav > li .sub-mega-wrap .sub-menu a {
    background-position: 20px center !important;
    text-indent: 10px;
}
.site-header #site-navigation.navbar .nav > li .sub-mega-wrap .subcat {
    display: none;
}
.site-header #site-navigation.navbar .nav .menu-parent-item {
    position: relative;
}
.site-header #site-navigation.navbar .nav .menu-parent-item > .sub-mega-wrap, .site-header #site-navigation.navbar .nav .menu-parent-item > .sub-menu {
    background-color: #191919;
    max-height: 0;
    transition: max-height 0.1s ease 0s;
}
.site-header #site-navigation.navbar .nav .menu-parent-item > .sub-mega-wrap.active, .site-header #site-navigation.navbar .nav .menu-parent-item > .sub-menu.active {
    max-height: 1000px;
    transition: max-height 2s ease 0s;
}
.site-header #site-navigation.navbar .nav .sub-menu-collapse {
    cursor: pointer;
    display: block !important;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 9999;
}
.site-header #site-navigation.navbar .nav li > a:hover {
    background-color: #111111 !important;
}
.site-header .navbar .btn-navbar {
    background: none repeat scroll 0 center transparent;
    border-right: 1px solid #222222;
    box-shadow: none;
    float: left;
    height: 40px;
    margin: 0;
    padding: 0 11px;
}
.site-header .navbar .btn-navbar .icon-bar {
    background: none repeat scroll 0 0 #FFFFFF;
}
.site-header .navbar .btn-navbar:hover {
    background: none repeat scroll 0 0 #111111;
}
.site-header .search-collapse {
    clear: both;
}
.site-header .search-collapse.in {
    border-bottom: 1px solid #222222;
    border-top: 1px solid #222222;
    margin-bottom: -1px;
}
.site-header .search-collapse .searchForm {
    margin: 10px;
}
.site-header .search-collapse .searchForm .field {
    border: medium none !important;
    height: 30px;
    line-height: 30px;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: bottom;
}
.site-header .search-collapse .searchForm .submit {
    background-position: -43px 6px;
    height: 25px;
    margin-top: -13px;
    right: 0;
    width: 25px;
}
.site-header .collapse-search {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #222222;
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    display: block;
    float: right;
    height: 40px;
    text-align: center;
    width: 40px;
}
.site-header .collapse-search:hover {
    background: none repeat scroll 0 0 #111111;
}
.site-header .collapse-search i {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 40px;
}
.site-header #under-navigation, .site-header #sidebar-header {
    display: none;
}
.news-slider {
    margin-bottom: 50px;
    position: relative;
}
.news-slider .carousel {
    width: 100%;
}
.news-slider .carousel .carousel-inner img {
    width: 100%;
}
.news-slider .carousel-nav li {
    background: none repeat scroll 0 0 transparent;
    border-color: #CCCCCC;
}
.news-slider .carousel-nav li.active a {
    background: none repeat scroll 0 0 #111111 !important;
}
.news-slider .carousel-nav li:hover a {
    background: none repeat scroll 0 0 #AAAAAA;
}
.news-slider .carousel-nav a {
    border-radius: 20px 20px 20px 20px;
    display: inline-block;
    height: 4px;
    text-indent: -9999px;
    transition: all 0.4s ease 0s;
    width: 4px;
}
.news-slider .carousel-control {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 500px 500px 500px 500px;
    bottom: -35px;
    color: #111111;
    font-size: 8px;
    height: 20px;
    left: 0;
    line-height: 20px;
    opacity: 1;
    top: auto;
    width: 20px;
    z-index: 1;
}
.news-slider .carousel-control:hover {
    border-color: #111111;
}
.handheld .news-slider .carousel-control {
    display: block !important;
}
.news-slider .carousel-control.right {
    left: auto;
    right: 0;
}
.news-slider .carousel-list .category-title, .news-slider .carousel-list .other-entry {
    display: none;
}
.news-slider .carousel-nav {
    bottom: -37px;
    margin: 5px 0;
    position: absolute;
    right: 0;
    width: 100%;
}
section.widget.news-category .hentry .entry-content, section.widget.news-category .hentry .entry-title {
    margin-left: 0 !important;
}
.widget.news-category .grid3 {
    background: none repeat scroll 0 center transparent;
}
.widget.news-category .grid3:before {
    display: none;
}
#bottom .carousel .carousel-inner .item, .grid3 {
    background: none repeat scroll 0 center transparent;
}
#bottom .carousel .carousel-inner .item:before, .grid3:before, #bottom .carousel .carousel-inner .item:after, .grid3:after {
    display: none;
}
#sidebar-footer {
    margin: 0;
    padding: 0;
}
#colophon .footer-shadown {
    box-shadow: none;
    height: 0;
    margin: -1px 0 0;
}
.content-bar .post-layout {
    display: none !important;
}
.single .site-content > .hentry .entry-content {
    max-width: 100%;
}
.single .site-content > .hentry .entry-action {
    width: 100%;
}
.single .site-content > .hentry .entry-action .social-action .title-action {
    border-top: 1px solid #DDDDDD;
    padding: 10px 0;
}
body.error404 {
    background: none repeat scroll 0 center transparent;
}
body.error404 .site-content {
    width: 65%;
}
.single .site-content > .post .entry-action .social-action {
    overflow: hidden;
}
.single .site-content > .post .entry-action li {
    float: left;
    margin-left: 5%;
    width: 30%;
}
.single .site-content > .post .entry-action li:first-child + li + li + li {
    margin-left: 0;
}
#primary .nav-tabs-by-select {
    display: none !important;
}
#primary .nav-tabs {
    display: block !important;
}
[class*="template-blog"] .content-inner .entry-meta-top {
    position: absolute;
    top: 0;
}
[class*="template-blog"] .content-inner .entry-meta-top > span {
    display: block;
    margin-top: 3px;
}
[class*="template-blog"] .content-inner .entry-meta-top > span:first-child {
    margin-top: -6px;
}
[class*="template-blog"] .content-inner .icon-post-format {
    background: none repeat scroll 0 0 #333333;
}
[class*="template-blog"] .content-inner .entry-title {
    margin-top: 0;
}
.right-sidebar[class*="template-blog"] .content-inner .hentry {
    padding-left: 190px;
}
.right-sidebar[class*="template-blog"] .content-inner .icon-post-format {
    left: 0;
}
.right-sidebar[class*="template-blog"] .content-inner .entry-meta-top {
    border-right: 1px solid #DDDDDD;
    left: 42px;
    padding: 0 30px 0 0;
    text-align: left;
}
.left-sidebar[class*="template-blog"] .content-inner .hentry {
    padding-right: 190px;
}
.left-sidebar[class*="template-blog"] .content-inner .icon-post-format {
    left: auto;
    right: 0;
}
.left-sidebar[class*="template-blog"] .content-inner .entry-meta-top {
    border-left: 1px solid #DDDDDD;
    padding: 0 0 0 30px;
    right: 42px;
    text-align: right;
}
.site-header #header #branding {
    width: 724px !important;
}
.site-header #header #sidebar-header {
    width: 724px !important;
}
.site-header #header #sidebar-header .span3 {
    width: 220px !important;
}
#secondary .tab-content img {
    width: 100%;
}
#secondary .tab-content .entry-thumbnail {
    float: none;
    margin-bottom: 10px;
    width: 100%;
}
#secondary .tab-content .has-thumbnail .entry-title, #secondary .tab-content .has-thumbnail .entry-meta {
    margin-left: 0;
}
#sidebar-footer {
    background: url("../img/sl-3-185-ddd.gif") repeat-y scroll -10px center transparent;
}
#sidebar-footer .widget_links, #sidebar-footer .widget_meta, #sidebar-footer .widget_pages, #sidebar-footer .widget_nav_menu {
    width: 100%;
}
#sidebar-footer .widget_links:first-child, #sidebar-footer .widget_meta:first-child, #sidebar-footer .widget_pages:first-child, #sidebar-footer .widget_nav_menu:first-child {
    padding-bottom: 0;
}
#sidebar-footer .widget_links .widget-title, #sidebar-footer .widget_meta .widget-title, #sidebar-footer .widget_pages .widget-title, #sidebar-footer .widget_nav_menu .widget-title {
    margin-left: 0;
}
#sidebar-footer .widget_links ul, #sidebar-footer .widget_meta ul, #sidebar-footer .widget_pages ul, #sidebar-footer .widget_nav_menu ul {
    margin-left: 0;
}
#colophon .input-append input[type="text"] {
    -moz-box-sizing: border-box;
    margin: 0;
    width: 100%;
}
#colophon .input-append .btn {
    clear: both;
    float: left;
    margin-top: 15px;
}
.home #primary .widget {
    margin-top: 20px;
}
.site-content .entry-content .input-large, .site-content .entry-content .input-xlarge, .site-content .entry-content .input-xxlarge, .site-content .entry-content input[class*="span"], .site-content .entry-content select[class*="span"], .site-content .entry-content textarea[class*="span"], .site-content .entry-content .uneditable-input {
    overflow: hidden;
}
.site-content .entry-content .carousel .item > img, .site-content .entry-content .thumbnail > img {
    width: 100%;
}
.left-sidebar #primary {
    float: none;
}
.tab-content #featured {
    border-bottom: 1px solid #DDDDDD;
}
.tab-content #featured .hentry {
    margin-bottom: 20px;
}
.tab-content #featured .hentry:before, .tab-content #featured .hentry:after {
    content: "";
    display: table;
    line-height: 0;
}
.tab-content #featured .hentry:after {
    clear: both;
}
.tab-content #featured .entry-thumbnail {
    float: left;
    margin: 0 20px 10px 0;
}
.home #primary .widget .tab-content:before, .home #primary .widget .tab-content:after {
    display: none;
}
.home #primary .widget .tab-content .hentry {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
}
.home #primary .widget .tab-content .hentry:first-child {
    margin-top: 0;
}
.home #primary .widget .tab-content .hentry img {
    width: 100%;
}
.home #primary .widget .tab-content .widget-title + .hentry {
    margin-top: 0;
}
.widget.news-category .row-fluid {
    background: none repeat scroll 0 center transparent;
}
.widget.news-category .row-fluid.grid3 .entry-thumbnail img {
    width: 100%;
}
.widget.news-category .row-fluid .span4 {
    margin-top: 20px;
}
.widget.news-category .other-entry {
    border-top: 1px solid #DDDDDD;
    margin: 20px 0 0;
}
.widget.news-category .other-entry li {
    padding: 10px 0;
}
.widget.news-category select.child-category {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 12px;
    margin-top: -35px;
    min-width: 135px;
    padding: 5px;
    width: auto;
}
#secondary {
    margin-top: 20px;
}
#secondary .news-accordion .entry-thumbnail img {
    width: 100%;
}
#secondary .news-accordion .carousel-control {
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    width: 30px;
}
#secondary .latest-news .entry-thumbnail img {
    width: 100%;
}
#secondary .textwidget img {
    width: 100%;
}
#secondary .textwidget .vcard img {
    width: auto;
}
#bottom, #colophon {
    margin: 0 -20px;
    padding: 0 20px;
}
#bottom .dw_focus_videos img {
    width: 100%;
}
#colophon > .container #site-tools {
    padding: 10px 0 15px;
}
.footer-toggle {
    background: none repeat scroll 0 0 #FFFFFF;
    left: 50%;
    margin: 5px 0 0 -20px !important;
    position: absolute;
    text-indent: -9999px;
    width: 40px;
}
.footer-toggle:after {
    margin-right: 10px !important;
    text-indent: 0;
}
#sidebar-footer {
    background: none repeat scroll 0 center transparent;
}
.search .content-inner.no-results .searchForm {
    width: 100%;
}
[class*="template-blog"] .content-inner .icon-post-format {
    display: none !important;
}
body.error404 {
    -moz-box-sizing: border-box;
}
body.error404 .site-content {
    width: 100%;
}
.news-slider .carousel .carousel-inner .entry-header {
    padding: 10px 10px 0;
}
.news-slider .carousel .carousel-inner .entry-category {
    padding: 5px;
}
.news-slider .carousel .carousel-inner .entry-title {
    font-size: 16px;
    line-height: 20px;
}
.nav-tabs a {
    padding: 10px 17px !important;
}
.nav-tabs .dropdown-menu:last-child {
    left: auto;
    right: 0;
}
.archive .content-inner .entry-thumbnail {
    float: none;
}
.archive .content-inner .entry-thumbnail img {
    width: 100%;
}
.archive .content-inner .post-inner {
    margin-left: 0 !important;
}
.archive .content-inner .post-inner {
    margin-left: 0;
    margin-top: 10px;
}
a.page-numbers, .dots.page-numbers {
    display: none;
}
.page-numbers.prev, .page-numbers.next {
    display: block;
}
.single .site-content > .post .entry-title {
    font-size: 24px;
}
.single .site-content > .post .entry-content {
    padding-right: 0;
    position: static;
}
.single .site-content > .post .entry-content .entry-action {
    position: static;
    width: 100%;
}
.single .site-content > .post .entry-content .entry-action ul {
    border-width: 1px 0 0;
    overflow: hidden;
    padding-left: 0;
}
.single .site-content > .post .entry-content .entry-action li {
    border-top: 0 none;
    float: left;
    margin-left: 10px;
    padding: 0 !important;
}
.single .site-content > .post .entry-content .entry-action li:first-child {
    margin-left: 0;
}
.single .site-content > .post .entry-content .entry-action li a {
    min-width: 52px;
}
.single .site-content > .post .entry-content .entry-action .facebook .fb-like {
    width: 52px;
}
.single .site-content > .post .entry-content .entry-action .twitter {
    width: 50px;
}
.single .site-content > .post footer.entry-meta .author-info .author-avatar {
    margin: 0 20px 6px 0;
    width: 60px;
}
.single .site-content > .post footer.entry-meta .author-info .author-description {
    margin-left: 0;
}
.single .site-content .related-post .content-inner:before, .single .site-content .related-post .content-inner:after {
    display: none;
}
.single .site-content .related-post .content-inner .type-post {
    border-top: 1px solid #DDDDDD;
    margin-left: 0;
    margin-top: 10px;
    padding-top: 20px;
    width: 100%;
}
.single .site-content .related-post .content-inner .type-post:first-child {
    border-top: 0 none;
    margin-top: 0;
    padding-top: 0;
}
.hentry .alignleft, .hentry .alignright {
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
}
.hentry .alignleft img, .hentry .alignright img {
    width: 100%;
}
.hentry blockquote {
    -moz-box-sizing: border-box;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#comments .commentlist .children {
    margin-left: 0;
}
#colophon #site-info {
    text-align: center;
}
#colophon #site-info .copyright, #colophon #site-info .logo {
    float: none;
    width: 100%;
}
#colophon #site-info .logo {
    margin: 0;
}
#colophon #site-info .logo a {
    margin: 20px auto 0;
}
body.error404 .post.error404 {
    padding: 0;
}
body.error404 .main-navigation {
    clear: left;
    padding: 30px 0 50px 10px;
}
