.dw-widget-extends .description {
    margin-top: 10px;
}

.dw-widget-extends [name="savewidget"] {
    display: none;
}

.categories_extend {
    margin: 1em 0;
}

.hide{
    display: none;
}

.poll-choices p{
    position: relative;
}

.poll-choices p .remove-link{
    position: absolute;
    top:0;
    right: 0;
    margin: 3px;
}

.poll-choices p .remove-link a{
    text-decoration: none;
    color: #dfdfdf;
    background: #fcfcfc;
    border-radius: 2px;
}

.poll-choices p:hover .remove-link a{
    color : #222;
    background: #f5f5f5;
}

.category-pseudo-select{
    cursor: pointer;
    color: #000;
    display: inline-block;
    line-height: 15px;
    width: 100%;
    padding: 2px 0;
    position: relative;
    border-color: #dfdfdf;
    background: #f9f9f9;
}

.category-pseudo-select::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid #333;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    right: 0.5em;
    top: 8px;
}

.categories-checklist{
    display: none;
    width: 80%;
}