@media (min-width: 980px) {
  .color-category a:hover {
    color: #009999;
  }
  .color-category .site-header #branding a {
    background-image: url(img/logo.png);
  }
  .color-category.desktop .top-news .entry-meta {
    background: #009999;
  }
  .color-category.desktop .top-news .dropdown-menu a:hover,
  .color-category.desktop .top-news .dropdown-menu a:active,
  .color-category.desktop .top-news .dropdown-menu a:focus {
    color: #009999 !important;
  }
  .color-category .nav-tabs > .active > a,
  .color-category .nav-tabs > .active > a:hover {
    background: #009999 !important;
  }
  .color-category .nav-tabs > .active > a:before,
  .color-category .nav-tabs > .active > a:hover:before {
    border-top-color: #009999;
  }
  .archive.color-category .post-layout a.active {
    background: #009999;
    border-color: #009999 !important;
  }
  .color-category .content-inner .entry-meta a:hover {
    color: #009999 !important;
  }
  .color-category .pagination ul > li .current {
    background: #009999;
    border-color: #009999;
  }
}
